<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>DrizzleDrive</title>
    <link href='/static/css/modern.css' rel='stylesheet' typ'text/css' />
    <link href='/static/css/style.css' rel='stylesheet' typ'text/css' />
  </head>
  <body>
    <div class='grid'>
      <div class='row'>
        <div class='span3'></div>
        <div class='span6'>
          <div id='topbar'>
            <h1>DrizzleDrive</h1>
            <h2>Edit your Dropbox files on the go</h2>
          </div>
          <div id='login'>
            {% if logged_in_dropbox %}
            <a id='dropbox-tile'>
              <div class="tile image selected">
                <b class="check"></b>
                <div class="tile-content">
                  <img src='/static/img/db.png'/>
                </div>
                <div class="brand">
                  <div class='name'>Logged in</div>
                </div>
              </div>
            </a>
            {% else %}
            <a id='dropbox-tile' href='/login/dropbox'>
              <div class="tile image">
                <div class="tile-content">
                  <img src='/static/img/db.png'/>
                </div>
                <div class="brand">
                  <div class='name'>Login</div>
                </div>
              </div>
            </a>
            {% endif %}
            {% if logged_in_google %}
            <a id='google-tile'>
              <div class="tile image selected">
                <b class="check"></b>
                <div class="tile-content">
                  <img src='/static/img/gd.png'/>
                </div>
                <div class="brand">
                  <div class='name'>Logged in</div>
                </div>
              </div>
            </a>
            {% else %}
            <a id='google-tile' href='/login/google'>
              <div class="tile image">
                <div class="tile-content">
                  <img src='/static/img/gd.png'/>
                </div>
                <div class="brand">
                  <div class='name'>Login</div>
                </div>
              </div>
            </a>
            {% endif %}
            {% if logged_in_dropbox and logged_in_google%}
            <a href='/dropbox'>
              <div class="tile double bg-color-blueDark">
                <div class="tile-content">
                  <h2 style='font-size:400%; line-height:120%'>Go to Dropbox files</h2>
                </div>
              </div>
            </a>
            {% else %}
            <div class="tile double bg-color-greenDark">
              <div class="tile-content">
                <h2 style='font-size:200%; line-height:150%;'>You need to login to Dropbox and Google first.</h2>
              </div>
            </div>
            {% endif %}
            <footer>Created by <a href='http://www.tomshen.me/'>Tom Shen</a></footer
          </div>
        </div>
        <div class='span3'></div>
      </div>
    </div>
    <!-- Scripts -->
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
  </body>
</html>
